.border-box {
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: burlywood;
    margin: 1em;
    padding: 1em;
  }
  
  .content-wrap {
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: orchid;
    margin: 1em;
    padding: 1em;
  }
  
  
  